@inherits LayoutComponentBase

<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>

<PageTitle>TimeTracking: @DateOnly.FromDateTime(DateTime.Today)</PageTitle>

<HeadContent>
  <meta name="description" content="Use this page to count things!" />
  <meta name="author" content="Blazor Author">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</HeadContent>

<div class="container">
    <div class="row">
        <div class="col">
            <NavMenu />
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Body
        </div>
    </div>
    <hr />
    <div class"row">
        <footer>
            <p>&copy; 2020 - dotnetconsulting.TimeTracking.BlazorWASM</p>
        </footer>
    </div>
</div>