@inject GlobalValues gv

<nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">@gv.LoginName</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Index
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="about">
                    <span class="oi oi-plus" aria-hidden="true"></span> About
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <a href="https://www.dotnetconsulting.eu" target="_blank">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Contact
                </a>
            </li>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
